* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f4f4f4;
    padding: 25px;
    margin-top: 25px;
}
h1 {
    color: #403f3f;
}
.grocery li {
    list-style: none;
}
#demo {
    font-size: 12px;
    color: blue;
}