<!DOCTYPE html>
<html lang="en">
<head>
   {% extends "base.html" %}
    {% block head %}
        {{ super() }}
    {% endblock %}
</head>
<body>
    {% block content %}
        {% for message in get_flashed_messages() %}

                <div class="alert alert-secondary" role="alert">
                    <h1>{{ message }}</h1>
                </div>
                            <img src="{{ url_for('static', filename='images/blog.jpg') }}"
                                 alt="blog"
                                 class="img-fluid rounded"
                            >
        {% endfor %}
    {% endblock %}
</body>

</html>