<!doctype html>
<html lang="en">
<head>
    {% extends "base.html" %}
    {% block head %}
        {{ super() }}
    {% endblock %}
</head>
<body>
    {% block content %}

         {% for message in get_flashed_messages() %}

                    <h1>{{ message }}</h1>

         {% endfor %}



            <h1>Update user</h1>

            <form action="/update/{{ user_id }}" method="post" >
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col-12 mb-3">
                        {{ form.user(class="form-control", value=name_to_update.user) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        {{ form.email(class="form-control", value=name_to_update.email) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-5">
                        {{ form.submit(class="btn btn-secondary") }}
                    </div>
                </div>

            </form>

    {% endblock %}

</body>
</html>