<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "base.html" %}
    {% block head %}
        {{ super() }}
    {% endblock %}
</head>
<body>

{% block content %}
    <div>
        <h1 >Users List</h1>
        <form method="post" >
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.user(class="form-control", placeholder="Enter a name") }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.email(class="form-control", placeholder="example@email.com") }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-5">
                    {{ form.submit(class="btn btn-secondary") }}
                </div>
            </div>

        </form>
        <section>
            <h2>Users list</h2>


                    <div class="text-center">
                        <div class="row">
                            {% for user in users_list %}
                                <div
                                        class=" col-lg-3 col-md-4 col-sm-6  shadow p-3 bg-body rounded m-3 users-list"
                                        style="width: 250px"
                                >
                                    <figure class="users">
                                        <img class="img-fluid" src="https://robohash.org/{{ user.id }}" alt="user">
                                        <figcaption>
                                            <h4 >{{ user.user | title }}</h4>
                                            <p>{{ user.email | lower }}</p>
                                        </figcaption>
                                    </figure>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

        </section>
    </div>
{% endblock %}
</body>
</html>